<html>
	<head>
		<title>BREAKTIME - Congratulations!</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/pagetemplate.css" />
	</head>
	<body>

		
		<center>
			<div class="container" style="margin-top:500px">

				<div align="left" style="margin-top:-106px;">
					<h1>CONGRATULATIONS</h1>
					<br>
					{{#each users_arr}}
						{{#if current}}
							<div id = "usernametext">Welcome, <a href = "settings" id = "usernamelink">{{email}}</a> | Level: <span id = "level" style = "display:inline">{{currentlevel}}</span> | XP: <span id = "xp" style = "display:inline">{{currentxp}}</span> | XP to next level: <span id = "xpremaining" style = "display:inline">0</span> | <a href ="logout">Logout</a></div>
							<div id = "usernametextshort">Welcome, <a href = "settings" id = "usernamelink">{{email}}</a> | Level: <span id = "level">{{currentlevel}}</span> | <a href ="logout">Logout</a></div>
						{{/if}}
					{{/each}}<br><br>
					<div class = "jumbotron" style = "font-size:60px" align = "center">
						You are now level <span id = "level2" style = "display:inline; font-size:200px;"></span>!
					</div><br>
					<center><input id = "next_btn" class = "btn btn-default btn-xlarge" type = "button" value = "Start the countdown to my next break!"></input></center><br>
			</div>
			</div>
			<div id = "bottomspace"></div>
		</center>
		<nav class="nav-bar navbar navbar-fixed-bottom">
 		<center>
 			<div><a href="home"><img src = "navicons/home.png" class = "navicon" id = "homelink"></a></div>
	 		<div><a href="levels"><img src = "navicons/levels.png" class = "navicon" id = "levelslink"></a></div>
	 		<div><a href="activity"><img src = "navicons/activity.png" class = "navicon" id = "activitylink"></a></div>
	 		<div><a href="settings"><img src = "navicons/settings.png" class = "navicon" id = "settingslink"></a></div>
	 		<div><a href="help"><img src = "navicons/help.png" class = "navicon" id = "helplink"></a></div>
	 		<span class = "stretch"></span>
 		</center>
		</nav>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="levelThresholds.json"></script>
		<script type = "text/javascript">
			window.onload = function() {
				var currentExperience = parseInt($('#xp').text(),10);
				var currentLevel = parseInt($('#level').text(),10);	
				$('#level2').text(currentLevel);				
				var nextThreshold = thresholds_arr.thresholds[currentLevel].threshold;
				var xpNeeded = nextThreshold - currentExperience;
				$("#xpremaining").text(xpNeeded);
			}


			$('#next_btn').click(function(){
				window.location.href = "home";
			});
		</script>

	</body>
</html>